<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Elevator</title>
    <link rel="stylesheet" type="text/css" href="./src/css/elevatorStyle.css">
</head>
<body>
<div class="container">
    <div class="content">

    </div>
</div>


<script type="text/template" id="elevator-template">
    <div style="height:<%= floorLength*55 + 5 %>px;" class="column">

        <% for(var i= 1 ; i <= floorLength; i++) { %>
        <div class="buttonWrapper">
            <button id="<%= floorLength+1-i %>floor" data-elevator-btn><%= floorLength+1-i %>층</button>
        </div>
        <% } %>
    </div>

    <% for(var j =1 ; j<= elevatorNumber; j++) { %>
    <div class="column elevatorWrapper" id="elevator<%= j %>" data-elevator-wrapper style="height:<%= floorLength*55 + 5 %>px;">
        <% for(var i= 1 ; i <= floorLength; i++) { %>
        <div class="floor"></div>
        <% } %>
    </div>
    <% } %>
</script>

<script src="./src/js/library/jquery-3.3.1.min.js"></script>
<script src="./src/js/library/underscore-min.js"></script>
<script src="./src/js/elevatorModel.js"></script>
<script src="./src/js/elevatorView.js"></script>
<script src="./src/js/elevatorController.js"></script>
<script src="./src/js/index.js"></script>

</body>
</html>
