<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Elevator</title>
    <link rel="stylesheet" type="text/css" href="./src/css/elevatorStyle.css">
</head>
<body>
<div class="container">
    <div class="setting">
        <label for="_elevator">엘리베이터 개수</label>
        <select id="_elevator">
            <option value="4">4개</option>
            <option value="3">3개</option>
            <option value="2">2개</option>
        </select>
        <label for="_floor">층 수</label>
        <select id="_floor">
            <option value="5">5층</option>
            <option value="4">4층</option>
            <option value="3">3층</option>
            <option value="2">2층</option>
        </select>
        <button id="render">render</button>
    </div>
    <div class="content">

    </div>
</div>


<script type="text/template" id="elevator-template">
    <div style="height:<%= floorLength*55 + 5 %>px;" class="column" data-btn-wrapper>

        <% for(var i= 1 ; i <= floorLength; i++) { %>
        <div class="buttonWrapper">
            <button data-elevator-btn data-btn="<%= floorLength+1-i %>"><%= floorLength+1-i %>층</button>
        </div>
        <% } %>
    </div>
    <div style="height:<%= floorLength*55 + 10 %>px; float: left;" data-elevator-wrapper>
        <% for(var j =1 ; j<= elevatorNumber; j++) { %>
        <div class="column elevatorColumn" id="elevator<%= j %>" style="height:<%= floorLength*55 + 5 %>px;">
            <% for(var i= 1 ; i <= floorLength; i++) { %>
            <div class="floor" data-floor="<%= floorLength+1-i %>"></div>
            <% } %>
        </div>
        <% } %>
    </div>
</script>

<script src="./src/js/library/jquery-3.3.1.min.js"></script>
<script src="./src/js/library/underscore-min.js"></script>
<script src="src/js/ElevatorModel.js"></script>
<script src="src/js/ElevatorCollection.js"></script>
<script src="src/js/ElevatorView.js"></script>
<script src="src/js/ElevatorController.js"></script>
<script src="./src/js/index.js"></script>

</body>
</html>
